{% extends 'base.html' %} {% load static %} {% block main %}

<!-- page title -->
<section class="page-title-section overlay" data-background="{% static 'images/backgrounds/page-title.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb mb-2">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="{% url 'home' %}">Home</a></li>
          <li class="list-inline-item text-white h3 font-secondary nasted">Our Blog</li>
        </ul>
        <p class="text-lighten mb-0">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- blogs -->
<section class="section">
  <div class="container">
    <div class="row">
      
      {% for i in blogs %}
      
      <!-- blog post -->
      <article class="col-lg-4 col-sm-6 mb-5">
        <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
          <img class="card-img-top rounded-0" src="{{i.cover_img.url}}" alt="Post thumb">
          <div class="card-body">
            <!-- post meta -->
            <ul class="list-inline mb-3">
              <!-- post date -->
              <li class="list-inline-item mr-3 ml-0">{{i.create_date|date:"M d, Y"}}</li>
              <!-- author -->
              <li class="list-inline-item mr-3 ml-0">By {{i.user}}</li>
            </ul>
            <a href="{% url 'blog_single' i.slug %}">
              <h4 class="card-title">{{i.title}}</h4>
            </a>
            <p class="card-text">{{i.short_desc}}</p>
            <a href="{% url 'blog_single' i.slug %}" class="btn btn-primary btn-sm">read more</a>
          </div>
        </div>
      </article>
      
      {% endfor %}
      
    </div>
  </div>
</section>
<!-- /blogs -->

{% endblock main %}