{% extends 'base.html' %} {% load static %} 

{% block style %}

<style>
  .teacher-tag{
    color: #1e1e4b;
    text-decoration: none;
  }
</style>

{% endblock style %}

{% block main %}

<!-- page title -->
<section class="page-title-section overlay" data-background="{% static 'images/backgrounds/page-title.jpg' %}">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb mb-2">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="{% url 'home' %}">Home</a></li>
          <li class="list-inline-item text-white h3 font-secondary nasted">Scholarship</li>
        </ul>
        <p class="text-lighten mb-0">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- scholarship -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 mb-4 mb-md-0">
        <img class="img-fluid" src="{% static 'images/scholarship/scholarship.jpg' %}" alt="scholarship news">
      </div>
      <div class="col-md-6">
        <h2>SCHOLARSHIPS NEWS</h2>
        <strong class="mb-4 d-block"><i>Our campuses are living laboratories for sustainability.</i></strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut labore
          et.dolore magna aliquauis aute irure dolor.
          in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
          cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor, sit
          amet consectetur adipisicing elit. Quas cum ut ab nesciunt distinctio maxime expedita fugit laborum? Aliquid,
          quia.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      
      {% for i in scholarships %}
      
      <!-- scholarship item -->
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
          <img class="card-img-top rounded-0" src="{{i.cover_img.url}}" alt="scholarship-thumb">
          <div class="card-body">
            <p class="mb-1"><a class="teacher-tag" href="{% url 'courses_slug' i.category.slug %}">{{i.category}}</a></p>
            <h4 class="card-title mb-3">{{ i.title }}</h4>
            <p>
              {{i.desc}}
            </p>
          </div>
        </div>
      </div>
      
      {% endfor %}
      
    </div>
  </div>
</section>
<!-- /scholarship -->

{% endblock main %}